# Ignore virtual environment
.venv/
*.migrations

# Ignore Python compiled files
__pycache__/
*.py[cod]
*.pyd

# Ignore environment files
.env

# Ignore Jupyter notebook checkpoints
.ipynb_checkpoints/

# Ignore SQLite or cache files
*.sqlite3
*.log
